<h2>My Reservations</h2>

<% if @reservations.any? %>
  <table>
    <thead>
      <tr>
        <th>Camera</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <% @reservations.each do |reservation| %>
        <tr>
          <td><%= reservation.camera.brand %> <%= reservation.camera.model %></td>
          <td><%= reservation.start_date %></td>
          <td><%= reservation.end_date %></td>
          <td><%= reservation.status.capitalize %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>You have no reservations yet.</p>
<% end %>

<%= link_to "Back to Cameras", cameras_path, class: "btn btn-primary" %>
