<div class="container mt-5 d-flex flex-column align-items-center">
  <h2 class="text-center">My Reservations</h2>
  <% if @reservations.any? %>
    <% @reservations.each do |reservation| %>
      <div class="reservation-card reservation-card-infos">
        <%= link_to camera_path(reservation.camera.photo) do %>
          <%= image_tag reservation.camera.photo %>
        <% end %>
        <div>
          <h3><%= reservation.camera.brand %> <%= reservation.camera.model %></h3>
          <p><%= reservation.start_date.strftime('%B %d, %Y') %> to
          <%= reservation.end_date.strftime('%B %d, %Y') %></p>
          <p><%= reservation.status.capitalize %></p>
        </div>
      </div>
    <% end %>
  <% else %>
    <p>You have no reservations yet.</p>
  <% end %>

  <%= link_to "Back to Cameras", cameras_path, class: "btn btn-secondary" %>
</div>
