<div class="card" style="width: 18rem;">
<div class="photo-wrapper">
<%= cl_image_tag(camera.photo.key, class: "card-img-top") %>
</div>
  <div class="card-body">
  <div class="d-flex justify-content-between">
    <h5 class="card-title"><%= camera.model %></h5>
    <span><%= camera.brand %></span>
    </div>
    <p class="card-text"><%= camera.description %></p>
    <div class="d-flex justify-content-between align-items-end">
     <%= link_to "see details", camera_path(camera), class: 'btn btn-primary' %>
     <span>$<%= camera.price %></span>
     </div>
  </div>
</div>
