<%= link_to camera_path(camera) do %>
<div class="info-window">
<div class="p-2">
    <% if camera.photo.attached? %>
      <%= cl_image_tag(camera.photo.key, class: "card-img-top") %>
    <% else %>
<div class="d-flex align-items-center card-img-top justify-content-center text-white" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(<%= asset_path('no-photo.png') %>); background-size:cover; background-position:center; height:250px;">
        Please Upload a picture
      </div>
  <% end %>
</div>
    <hr>
  <div class="card-body p-2">
    <h2 class="card-text text-center"><%= camera.model %></h2>
    <hr>
    <div class="d-flex justify-content-between align-item-center">
<p class="card-text fs-6"><%= camera.brand %></p>

<p class="card-text fs-6">$<%= camera.price %> / day</p>
</div>
  </div>
</div>
<% end %>
