<div class="container">
  <h1 class="text-center mb-3 mt-3">All the cameras</h1>
<% if @show_filter %>
<%= link_to "Clear filters", cameras_path(), class: 'btn btn-primary' %>
<% end %>


  <div class="filters d-flex justify-content-between align-items-center">
    <!-- Link to filter by Canon brand -->
    <%= link_to cameras_path(brand: 'Canon') do %>
      <%= image_tag("canon.png", alt: "Canon", class: "brand-logo") %>
    <% end %>

    <!-- Link to filter by Fujifilm brand -->
    <%= link_to cameras_path(brand: "Fujifilm") do %>
      <%= image_tag("fujifilm.png", alt: "Fujifilm", class: "brand-logo") %>
    <% end %>

    <!-- Link to filter by Nikon brand -->
    <%= link_to cameras_path(brand: "Nikon") do %>
      <%= image_tag("nikon.png", alt: "Nikon", class: "brand-logo") %>
    <% end %>

    <!-- Link to filter by Sony brand -->
    <%= link_to cameras_path(brand: "Sony") do %>
      <%= image_tag("sony.png", alt: "Sony", class: "brand-logo") %>
    <% end %>
  </div>

  <div class="cards">
    <% @cameras.each do |camera| %>
      <%= render 'card', camera: camera %>
    <% end %>
  </div>
</div>
