<!DOCTYPE html>
<html>
  <head>
    <title>CameraBuddy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% unless controller.controller_name == 'pages' && controller.action_name == 'home' %>
    <%= render "shared/navbar" %>
    <% end %>
    <%= yield %>
    <%= render "shared/flashes" %>
    <% unless controller.controller_name == 'pages' && controller.action_name == 'home' %>
      <%= render "shared/footer" %>
    <% end %>

  </body>
</html>
